<div class="container mt-3">
  <h2 class="text-center text-primary">Formulario de Medicina</h2>

  <!-- Botón para abrir el modal -->
  <div class="text-end">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMedicina" onclick="showAlert()">
        Agregar Ganado
    </button>
</div>

  <!-- Tabla de Listado y CRUD -->
  <div>
      <table class="table table-striped table-hover table-sm shadow-sm">
          <thead class="table-dark">
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Fecha Vencimiento</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Medicina A</td>
                  <td>Antibiótico</td>
                  <td>10</td>
                  <td>50.00</td>
                  <td>2025-12-31</td>
                  <td>
                      <!-- Botón para abrir el modal en modo edición -->
                      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalMedicina">Editar</button>
                      <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Incluir el componente del modal -->
  <app-medicina-modal></app-medicina-modal>
</div>
