.establo-card {
    background: url('https://www.transparenttextures.com/patterns/wood-pattern.png');
    border-left: 5px solid #8B4513; /* Color madera */
    border-radius: 10px;
}

.corral-card {
    background: #f8f9fa;
    border-left: 4px solid #28a745;
}

.corral-container {
    max-height: 500px; /* Ajusta la altura */
    overflow-y: auto;
    padding-right: 10px;
    border-top: 1px solid #ccc; /* Línea de separación */
  }

  .establos-container {
    height: 600px; /* Ajusta la altura según necesites */
    overflow-y: auto; /* Permite desplazamiento vertical */
    border: 1px solid #ccc; /* Opcional, solo para visualizar el contenedor */
    padding-right: 10px; /* Espacio para evitar el recorte del scroll */
    }